
Notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte
Notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte
Notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte
Notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Notebooks/data/MNIST/raw/t10k-images-idx3-ubyte
Notebooks/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte
Notebooks/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Notebooks/data/MNIST/raw/train-images-idx3-ubyte
Notebooks/data/MNIST/raw/train-images-idx3-ubyte.gz
Notebooks/data/MNIST/raw/train-labels-idx1-ubyte
Notebooks/data/MNIST/raw/train-labels-idx1-ubyte.gz
