Notebooks/data/*
Notebooks/VAE_mnist_peladeau.pt
data/*
*.wav
*.gz
*.part
Notebooks/.ipynb_checkpoints/*
test.py
src/timbre_transfer/datasets/__pycache__/__init__.cpython-39.pyc
src/timbre_transfer/__pycache__/__init__.cpython-39.pyc
src/timbre_transfer/datasets/__pycache__/NSynthDataset.cpython-39.pyc
