Notebooks/data/*
Notebooks/VAE_mnist_peladeau.pt
data/*
*.wav
*.gz
*.part
Notebooks/.ipynb_checkpoints/*
test.py
src/timbre_transfer/datasets/__pycache__/__init__.cpython-39.pyc
src/timbre_transfer/__pycache__/__init__.cpython-39.pyc
src/timbre_transfer/datasets/__pycache__/NSynthDataset.cpython-39.pyc

*.pyc
runs/*
*.pt

data/*
models/*
*.cache
env/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
._cache
.pytest_cache
venv
.idea
__pycache__
.history
.idea/
.vscode/
build
*.tgz
/.changelog
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
runs/*
test_come_interpol.ipynb
